NODE_ENV=production
HOST=localhost
PORT=5000
FRONTEND_URL=tauri://localhost
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_API_KEY=
SESSION_SECRET=session-byW9y1L8uer9dDGMZbv35ZPwkXu1D
DB_FILENAME=assets/database.sqlite
DB_SCHEMA_FILENAME=assets/schema.sql
DB_SESSION_FILENAME=assets/sessions.sqlite
LOG_LEVEL=error